[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-cors-headers = "*"
djangorestframework-xml = "*"
django-templated-mail = "*"
djangorestframework-simplejwt = "*"
djoser = "*"
oauthlib = "*"
django-debug-toolbar = "*"
mysqlclient = "*"
accounts = "*"
pymysql = "*"
python-memcached = "*"
social-auth-app-django = "*"
social-auth-app-django-mongoengine = "*"
psycopg2 = "*"
django-resized = "*"
pillow = "*"
django-crispy-forms = "*"
numpy = "*"
html2text = "*"
django-tinymce = "*"
channels = "*"
asgiref = "*"
channels-redis = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.10"
